<form action="/users/create-session" method="post">

<div class="hero min-h-screen bg-base-200">
    
    <div class="sign_in_form hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold">Login now!</h1>
      </div>
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <div class="card-body">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input type="text" name="email" placeholder="email" class="input input-bordered" />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input type="text" name="password" placeholder="password" class="input input-bordered" />
            <label class="label">
              <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
            </label>
          </div>
          <div class="form-control mt-6">
            <input class="btn btn-primary" type="submit" value="Sign In">
          </div>
          <div >
            <a class=" flex justify-center p-4" href="/users/auth/google">  <img src="https://cdn.cdnlogo.com/logos/g/35/google-icon.svg" alt="GoogleLogo" height="20px" width="20px"> Google Sign In/Sign Up</a>
          </div>
       
        </div>
      </div>
    </div>
  </div>

</form>

